<%= render 'form' %>

<html>
<head>
	<title>Instagram</title>
</head>
<body>

	Welcome to Instagram!

	<div class= "New post">

		<% if @posts.none? %>
			
			No posts yet
		
		<%else%>
			
			<% @posts.each do |post| %>
				
				<h2><%= post.title %></h2>
				<p><%= post.description %></p>
				<%= image_tag post.picture.url, class: 'uploaded-pic' %>
			
				<% end %>
			
			<% end %>
		
		</div>

		<div>



		</div>

	 <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>


</body>
</html>
